@import '_vars';
@import '_reset';
@import '_grid';
@import '_base';
@import '_nav';

// Pages
@import './page/_home';
@import './page/_profile';

footer{
  background-color: $color4;
  color: $color1;
  padding: $gutter;
}

.main-container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  min-height: 100%;
  min-width: $page-width;
}

.main-content{
  background-color: $color3;
  -webkit-box-flex:1;
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
}

// Move this
.modal--container {
  z-index: 3000;
  position: absolute;
  left:0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,0.5);

  .modal {
    position: fixed;
    width: 640px;
    background-color: $color1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $gutter-x3;
  }
}
