<div ng-controller="HomeCtrl">
  <div class="home-box1">
    <h1>The Name Selector</h1>
    <p>Hi there, Welcome to the site. Here you can add, view, delete and modify users.
    <p>I am using angularJS to accomplish this.</p>
    <input ng-model="userFilter" class="mt" type="text" placeholder="Search For Users..."/>
  </div>

  <div class="home-box2 row">
    <div class="col-12">
      <div class="user-box animate-repeat" ng-repeat="value in testdata | filter: userFilter">
        <h1>{{ value.first_name }} {{ value.last_name }}</h1>
      </div>
    </div>
  </div>
</div>